.navbar {
    padding: 15px;
    background-color: #51E0B8;
    border-bottom: 5px solid #0CBE8D;
    padding-right: 40px;
}



.nav {
    text-align: right;
}

nav a.selected, nav a:hover {
    color: #0da57b;
    }

.nav li {
    font-size: 1.3em;
    display: inline-block;
    padding-right: 25px;
}

.nav a {
    color: white;
    margin-right: auto;
    margin-top: 15px;
}



.nav li a:hover {
    color:#0da57b;
}

.name a {
    font-size: 2em;
    color: white;
    float: left;
    padding-left: 10px;
    margin-top: -8px;
}

.name a:hover {
    color: #0da57b;
}


/*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
    
   .nav li {
        padding-right: 8px;
        font-size: 1.2em;
    }
   
    .name a {
        padding: 0px;
    }
    
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
    
    .navbar {
        padding: 0px; 
        border-bottom: 0px;
        margin-right: -5px;
    }
    
    .nav {
        text-align: center;
        background-color: #0CBE8D;
    }

    .nav a.selected, nav a:hover {
    color: #32673f;
    }
    
     ul {
        float: left;
        width: 100%;
        padding: 5px;
        text-align: center;
        font-weight: 600;
     }

     .clear {
        clear: both;
    }

    .name a {
        font-size: 2.3em;
        font-weight: 600;
        width: 100%;
        text-align: center;
        margin: 3px;
    }

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
    
   .navbar {
        padding: 0px;   
        border-bottom: 0px; 
        
    }
  
   .name {
        position: relative;
        text-align: center;
        top: 5px;
        line-height: 3em;
        width: 100%;
        text-align: center;
    }

   .name a {
        float: none;
    }
  
    }
